@import './variables.scss';

body {
  background: $main-gray;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 16px;
}

.color--main {
  color: $main-blue;
}

.main__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 52px;

  .header__row {
    padding: 0 94px;
  }

  .header__logo {
    font-size: 36px;
    font-weight: 500;
  }

  .header__navigation {
    margin-left: auto;
  }

  .navigation__list {
    list-style-type: none;
  }

  .list__item {
    padding: 12px 30px;
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: $main-blue;
      color: white;
      box-shadow: 4px 20px 32px rgba(158, 175, 201, 0.2);
    }
  }
}
