body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 16px;
}

.color--main {
  color: #4270C9;
}

.main__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 52px;
}
.main__header .header__row {
  padding: 0 94px;
}
.main__header .header__logo {
  font-size: 36px;
  font-weight: 500;
}
.main__header .header__navigation {
  margin-left: auto;
}
.main__header .navigation__list {
  list-style-type: none;
}
.main__header .list__item {
  padding: 12px 30px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.main__header .list__item:hover {
  background: #4270C9;
  color: white;
  box-shadow: 4px 20px 32px rgba(158, 175, 201, 0.2);
}
